body{ background-color: black;
      text-align: center;
      font-family: Verdana;

      }
h1{

  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2{

  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3{

  font-size: 21px;
  color: Gray;
}

.footer{
  font-weight: lighter;
  color: white;
  text-align: right;
}

 #edownload , nav {
    color: Aquamarine;
    font-size: 16px;


 }

video {
    display: block;
    margin: 0 auto;
}

img {
  display: block;
   margin: auto;
}
